<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="Exclusive"
	gamePrice="R$ 229,90"
	gameType="Digital | PS3"></app-card>

	<app-card
	gameCover="assets/bt-4.jpg"
	gameLabel="Best of Year"
	gamePrice="R$ 299,90"
	gameType="Digital | PS4"></app-card>

	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="Cross Buy"
	gamePrice="R$ 399,90"
	gameType="Digital | PS4 PS5"></app-card>

	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="New"
	gamePrice="R$ 399,90"
	gameType="Disc | PS4 PS5 "></app-card>

	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="New"
	gamePrice="R$ 299,90"
	gameType="Disc | PS4 PS5 "></app-card>

	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="Best of Year"
	gamePrice="R$ 199,90"
	gameType="Digital | PS4 PS5 "></app-card>

</div>
